.search-wrapper {
  display: flex;
  gap: 10px;
  flex: 1;
  max-width: 600px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.search-input {
  flex: 1;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-right: none; /* biar nyambung ke tombol */
  border-radius: 8px 0 0 8px; /* bulat kiri saja */
  font-size: 14px;
  outline: none;
}

.search-input:focus {
  border-color: #b57edc;
}

.search-icon {
  padding: 12px;
  background-color: #b57edc;
  color: white;
  border: 1px solid #b57edc;
  border-radius: 0 8px 8px 0; /* bulat kanan saja */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn {
  margin-left: 8px; /* Jarak antara search icon dan filter icon */
}

.search-icon,
.filter-btn {
  padding: 12px;
  background-color: #b57edc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon:hover,
.filter-btn:hover {
  background-color: #a06bc9;
}

.search-icon svg,
.filter-btn svg {
  width: 20px;
  height: 20px;
}