.user-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f7f7f7;
}

.user-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.user-content {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}
